<?xml version="1.0"?>
<robot name="object">
  <link name="base_link"> <!-- required name-->
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://animals_description/meshes/ant_black.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.11"/>
      </geometry>
    </collision>
  </link>

  <joint name="j_bounding_sphere" type="fixed">
    <parent link="base_link"/>
    <child link="l_bounding_sphere"/>
    <origin xyz="0 0 0"/>
  </joint>

  <link name="l_bounding_sphere">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.11"/>
      </geometry>
      <material name="green">
        <color rgba="0 1 0 0.1"/>
      </material>
    </visual>
  </link>
</robot>
