<?xml version="1.0"?>
<robot name="decor">
  <material name="Dark">
    <color rgba="0.7 0.1 0.7 0.4"/>
  </material>
  
  <link name="decor_base">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
		<!--<mesh filename="package://animals_description/meshes/cave_mono3_3.dae"/>-->
		<mesh filename="package://animals_description/meshes/cave_mono_short_1.dae"/>
      </geometry>
      <material name="Dark"/>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://animals_description/meshes/cave_mono_short_1.stl"/>
      </geometry>
    </collision>
  </link>
  
  <!--
  <joint name="j_decor_one" type="fixed">
    <parent link="decor_base"/>
    <child link="l_decor_one"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
        
  <link name="l_decor_one">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://animals_description/meshes/cave_mono3_3_cylinder_item.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://animals_description/meshes/cave_mono3_3.stl"/>
      </geometry>
    </collision>
  </link>-->
</robot>
